/* RESET DO NAVEGADOR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets2/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Comic Sans MS";
}

h1 {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color: violet;
}

h2 {
    text-align: center;
    margin: 10px  auto;
    font-size: 30px;

}

h3 {
    text-align: center;
    margin: 10px  auto;
    font-size: 30px;
    padding: 10px;
    color: darkmagenta;
}

h4 {
    text-align: center;
    margin: 10px  auto;
    font-size: 25px;
    padding: 10px;
    color: black;
}


img {
    display: block;
    max-width: 300px;
    margin: 10px auto;
} 


ol { 
    font-size: 23px  auto;
    text-align: center;
    list-style-position: inside;
    
}

li {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

button { 
    display: block;
    margin: 20px auto;
    cursor: pointer;
    padding: 10px 29px;
    font-size: 13px;
    border-radius: 20px;
    background-color: white;

}

a {
    display: block;
    text-align: center;
    color: violet;
}

button a {
    text-decoration: none;
    color: violet;
    font-weight: bold;
    text-transform: uppercase;
    
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.3s;
}