/* RESET DO NAVEGADOR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: transparent;
    background-image: url(assets3/ennies-lobby-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
    display: block;
    max-width: 40%;
    margin: 10px auto;
}

h2{
    text-align: center;
    font-size: 80px;
    color: rgb(97, 95, 4);
}

p{
    font-size: 45px;
    color: rgb(0, 0, 0);
}

button{
    display: block;
    margin: 20px 10px;
    cursor: pointer;
    padding: 30px 30px;
    border-radius: 30px;
    background-color: black;
}

a{
    color: red;
    font-size: 20px;
}